body {
  background-color: beige;
}
h1 {
  margin-left: 2rem;
}
nav {
  display: flex;
  flex-wrap: wrap;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 2rem;
  box-shadow: 10px 10px 20px #999;
  padding: 1rem;
}
img {
  width: 200px;
}
a {
  text-decoration: none;
  color: black;
}
.vimp {
  background-color: whitesmoke;
}
.ankadevin {
  background-color: #f0ab8d;
}
#ankadevin {
  border: 5px dotted black;
  padding: 1rem;
  text-align: center;
}
@font-face {
  font-family: StarJedi;
  src: url("../star-wars-trivia/assets/starjedi.ttf");
}
.swapi {
  background-color: rgb(255, 248, 143);
}
.starWarsLogo {
  font-family: StarJedi;
  text-align: center;
  font-size: 3rem;
  line-height: 2.3rem;
  margin: 1rem;
}
.episode {
  text-align: center;
  margin: 0.5rem;
}
